/* Colores personalizados para los contenedores */
.bg-container-1 {
    background-color: rgba(166, 66, 66, 0.5); /* Color relacionado al original */
    min-height: 250px; /* Altura mínima en lugar de altura fija */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Añadir padding interno */
}

.bg-container-2 {
    background-color: rgba(93, 167, 137, 0.5); /* Color relacionado al original */
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.bg-container-3 {
    background-color: rgba(241, 181, 51, 0.5); /* Color relacionado al original */
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.bg-container-4 {
    background-color: rgba(228, 138, 45, 0.5); /* Color relacionado al original */
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.bg-container-5 {
    background-color: rgba(45, 104, 127, 0.5); /* Color relacionado al original */
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.bg-container-1, .bg-container-2, .bg-container-3, .bg-container-4, .bg-container-5 {
    transition: transform 0.3s ease-in-out;
}
.bg-container-1:hover, .bg-container-2:hover, .bg-container-3:hover, 
.bg-container-4:hover, .bg-container-5:hover,
.bg-container-1:active, .bg-container-2:active, .bg-container-3:active, 
.bg-container-4:active, .bg-container-5:active {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
}

/* Flexbox para el row y columnas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegura espacio entre los elementos */
}

.col-md-4, .col-md-6 {
    display: flex;
    align-items: stretch; /* Asegura que las columnas se estiren uniformemente */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 767px) {
    .col-md-4, .col-md-6 {
        flex: 1 1 100%; /* Los contenedores ocuparán el 100% del ancho de la fila en pantallas pequeñas */
        margin-bottom: 20px; /* Espacio inferior entre los contenedores en pantallas pequeñas */
    }
}

/* Estilos para el navbar */
#navinicio {
    background-color: rgba(216, 159, 18, 0.75)!important; /* Color con opacidad */
}

/* Estilos para el footer */
.footer {
    width: 100%;
    background-color: rgba(67, 148, 99, 0.50); /* Cambia el color de fondo según tu preferencia */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerlogo {
    max-width: 140px; /* Ajusta el tamaño máximo del logo */
    height: auto;
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

.footer-text {
    font-size: 14px;
    color: #333; /* Cambia el color del texto según tu preferencia */
    margin: 0;
}

h1 {
    text-align: center; /* Centrar el texto */
    font-style: italic; /* Aplicar cursiva */
    font-family: 'Georgia', 'Times New Roman', serif; /* Fuente de estilo cursiva clásica */
    margin-bottom: 20px; /* Espacio inferior */
}
h3{
    text-align: center; /* Centrar el texto */
    font-style: italic; /* Aplicar cursiva */
    font-family: 'Georgia', 'Times New Roman', serif; /* Fuente de estilo cursiva clásica */
    margin-bottom: 20px; /* Espacio inferior */  
}
.justify {
    text-align: justify;
}




  

  