body{
    background-color: rgba(158, 158, 24, 0.5);
}
.control-center{
    background-color: rgb(217, 213, 213);
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;


}
#navinicio{
    background-color: rgba(216, 159, 18, 0.5)!important; /* Color con opacidad */
}