.form-container {
    background-color: #F7F5F7; /* Color gris claro */
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  .form-label {
    color: #822B2B; /* Color de las etiquetas */
  }
  
  .form-control {
    border: 1px solid #822B2B; /* Bordes */
  border-radius: 5px;
  padding: 10px;
  }
  
  .btn-custom {
    background-color: #439463;
    color: white;
    border-color: #439463;
    border-radius: 5px; /* Esquinas redondeadas para el botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
    padding: 5px 15px; /* Espaciado interno del botón */
    display: block;
    margin: 20px auto 0; /* Centrando el botón */
    width: auto; /* Ajusta el ancho del botón automáticamente */
  }
  .btn-custom:hover {
    background-color: #D89F12; /* Color al pasar el cursor */
    border-color: #D89F12;
    color: white;
  }
  
#navinicio{
    background-color: rgba(216, 159, 18, 0.75)!important; /* Color con opacidad */
}

/*estilos para parfe de abajo de la hoja*/
/* Estilo para el contenedor del footer */
.footer {
    width: 100%;
    background-color: rgba(67, 148, 99, 0.50); /* Cambia el color de fondo según tu preferencia */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
}

/* Estilo para el contenido del footer */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo para el logo del footer */
#footerlogo {
    max-width: 140px; /* Ajusta el tamaño máximo del logo */
    height: auto;
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

/* Estilo para el texto del footer */
.footer-text {
    font-size: 14px;
    color: #333; /* Cambia el color del texto según tu preferencia */
    margin: 0;
}

/* Estilos para el contenedor con imagen de fondo */
.container-bg {
  background-image: url('/plantas/fotosvivero/vivero9.jpg'); /* Ruta de tu imagen */
  background-size: cover; /* La imagen cubrirá todo el contenedor */
  background-repeat: no-repeat; /* La imagen no se repetirá */
  background-position: center; /* La imagen estará centrada */
  padding: 20px 20px;
}


