/* Estilos generales para el contenedor del menú */
#navbar-example3 {
    background-color: rgba(67, 148, 99, 0.5); /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start; /* Centrar horizontalmente */
    justify-content: flex-start; /* Centrar verticalmente */
    height: 100%; /* Asegura que ocupe toda la altura disponible */
}

.nav-link1{
    color: #000000; /* Cambiado a negro */
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* Colores para los diferentes estados del enlace */
.nav-link1:link, .nav-link1:visited {
    color: #000000; /* Cambiado a negro */
}

/* Color del texto al pasar el ratón y al enfocarse */
.nav-link1:hover,
.nav-link1:focus,
.nav-link1:active {
    color: #D89F12; /* Color del texto al pasar el ratón, al enfocarse o al activarse */
    text-decoration: underline; /* Subrayado al pasar el ratón, al enfocarse o al activarse */
}

/* Clase activa para el enlace */
.nav-link1.active {
    color: #D89F12; /* Color del texto cuando el enlace está activo */
    text-decoration: underline; /* Subrayado cuando el enlace está activo */
}

/* Estilos para los enlaces secundarios (submenú) */
.nav-link1.ms-3 {
    color: white; /* Color del texto */
    font-weight: normal; /* Normal */
    margin-bottom: 10px; /* Menor espaciado inferior para enlaces secundarios */
}

/* Color del texto al pasar el ratón y al enfocarse */
.nav-link1.ms-3:hover,
.nav-link1.ms-3:focus,
.nav-link1:active {
    color: #D89F12; /* Color del texto al pasar el ratón, al enfocarse o al activarse */
    text-decoration: underline; /* Subrayado al pasar el ratón, al enfocarse o al activarse */
}

.list {
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%;
    max-width: 300px;
    display: none;
    margin-top: 5px; /* Reduce la distancia entre "Plantas" y la lista */
    margin-bottom: 20px; /* Aumenta la distancia entre la lista y "Macetas" */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos para parfe de abajo de la hoja*/
/* Estilo para el contenedor del footer */
.footer {
    width: 100%;
    background-color: rgba(67, 148, 99, 0.50); /* Cambia el color de fondo según tu preferencia */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
    margin-top: 20px;
}

/* Estilo para el contenido del footer */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo para el logo del footer */
#footerlogo {
    max-width: 140px; /* Ajusta el tamaño máximo del logo */
    height: auto;
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

/* Estilo para el texto del footer */
.footer-text {
    font-size: 14px;
    color: #333; /* Cambia el color del texto según tu preferencia */
    margin: 0;
}

#navinicio {
    background-color: rgba(216, 159, 18, 0.75) !important; /* Color con opacidad */
}

/* Estilo para el contenedor del texto */
.col-md-4 .bg-light {
    background-color: rgba(67, 148, 99, 0.1); /* Color de fondo suave */
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para el contenedor de Simbología y Significado */
.bg-simbologia {
    background-color: rgba(216, 159, 18, 0.5); /* Color personalizado con opacidad */
}

/* Estilos para el contenedor de Exposición al Sol */
.bg-exposicion {
    background-color: rgba(130, 43, 43, 0.5); /* Color personalizado con opacidad */
    margin-top: 30px;
}

.bg-exposicion, .bg-simbologia, .bg-list{
    transition: transform 0.3s ease-in-out; /* Transición suave */
}
/* Animación de zoom al pasar el cursor (hover) o tocar en dispositivos móviles */
.bg-exposicion:hover,
.bg-exposicion:active {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al 105% */
}
/* Animación de zoom al pasar el cursor (hover) o tocar en dispositivos móviles */
.bg-simbologia:hover,
.bg-simbologia:active {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al 105% */
}
/* Animación de zoom al pasar el cursor (hover) o tocar en dispositivos móviles */
.bg-list:hover,
.bg-list:active {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al 105% */
}

h3 {
    font-style: italic;  /* Aplicar cursiva */
    font-family: 'Georgia', 'Times New Roman', serif; /* Fuente de estilo cursiva clásica */
}
.container {
    margin-top: 20px; /* Margen superior para separar del encabezado */
}

/* Opcional: también puedes agregar un margen superior a cada columna si prefieres */
.col-md-4 {
    margin-top: 20px; /* Margen superior para cada columna */
}



