/* Estilos generales para el contenedor del menú */
#navbar-example3 {
    background-color: rgba(130, 43, 43, 0.05); /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start; /* Centrar horizontalmente */
    justify-content: flex-start; /* Centrar verticalmente */
    height: 100%; /* Asegura que ocupe toda la altura disponible */
}

.nav-link1{
    color: #822B2B;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}
/* Colores para los diferentes estados del enlace */
.nav-link1:link, .nav-link1:visited {
    color: #822B2B; /* Color del texto */
}
/* Color del texto al pasar el ratón y al enfocarse */
.nav-link1:hover,
.nav-link1:focus,
.nav-link1:active {
    color: #D89F12; /* Color del texto al pasar el ratón, al enfocarse o al activarse */
    text-decoration: underline; /* Subrayado al pasar el ratón, al enfocarse o al activarse */
}

/* Clase activa para el enlace */
.nav-link1.active {
    color: #D89F12; /* Color del texto cuando el enlace está activo */
    text-decoration: underline; /* Subrayado cuando el enlace está activo */
}

/* Estilos para los enlaces secundarios (submenú) */
.nav-link1.ms-3 {
    color: #822B2B; /* Color del texto */
    font-weight: normal; /* Normal */
    margin-bottom: 10px; /* Menor espaciado inferior para enlaces secundarios */
}

/* Color del texto al pasar el ratón y al enfocarse */
.nav-link1.ms-3:hover,
.nav-link1.ms-3:focus,
.nav-link1:active {
    color: #D89F12; /* Color del texto al pasar el ratón, al enfocarse o al activarse */
    text-decoration: underline; /* Subrayado al pasar el ratón, al enfocarse o al activarse */
}

.list {
    background-color: rgba(130, 43, 43, 0.1); /* Fondo con baja opacidad */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%;
    max-width: 300px;
    display: none;
    
}
/* Clase para el contenedor de las imagenes de simbologia */
.simbologia-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*estilos para la imagen del sol*/
.solimg {
    position: absolute;
    top: -230px; /* Ajusta este valor para mover el sol hacia abajo */
    right: -55%; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-10%);
    width: 100%;
    max-width: 500px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

}

/* Estilo para el símbolo de planta de sol */
.plantasol {
    position: absolute;
    top: -100px; /* Ajusta este valor para mover el sol hacia abajo */
    right: 0px; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-10%);
    width: 100%;
    max-width: 125px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

}
/* Estilo para el símbolo del semi sol */
.plantasemisol {
    position: absolute;
    top: 100px; /* Ajusta este valor para mover el sol hacia abajo */
    right: -22px; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-10%);
    width: 100%;
    max-width: 125px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  

}
/* Estilo para el símbolo del sin sol */
.plantassinsol {
    position: absolute;
    top: 260px; /* Ajusta este valor para mover el sol hacia abajo */
    right: -180px; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-10%);
    width: 100%;
    max-width: 125px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  

}

/* Estilo para el texto encima del sol */
.textsol {
    position: absolute;
    top: -260px; /* Posiciona el texto en la parte superior del contenedor */
    right: -30%; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    font-size: 35px; /* Ajusta el tamaño de la letra según tus necesidades */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra al texto para mejor legibilidad */
    pointer-events: none; /* Evita que el texto interfiera con los eventos del ratón en la imagen */
}

/* Estilo para el texto encima del sol */
.textplantasol {
    position: absolute;
    top: -65px; /* Posiciona el texto en la parte superior del contenedor */
    right: 10%; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    font-size: 15px; /* Ajusta el tamaño de la letra según tus necesidades */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra al texto para mejor legibilidad */
    pointer-events: none; /* Evita que el texto interfiera con los eventos del ratón en la imagen */
}
/* Estilo para el texto encima del sol */
.textplantasemi {
    position: absolute;
    top: 135px; /* Posiciona el texto en la parte superior del contenedor */
    right: 5%; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    font-size: 15px; /* Ajusta el tamaño de la letra según tus necesidades */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra al texto para mejor legibilidad */
    pointer-events: none; /* Evita que el texto interfiera con los eventos del ratón en la imagen */
}
/* Estilo para el texto encima del sol */
.textplantasombra {
    position: absolute;
    top: 294px; /* Posiciona el texto en la parte superior del contenedor */
    right: -9%; /* Ajusta este valor según sea necesario para la alineación horizontal */
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    font-size: 15px; /* Ajusta el tamaño de la letra según tus necesidades */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra al texto para mejor legibilidad */
    pointer-events: none; /* Evita que el texto interfiera con los eventos del ratón en la imagen */
}

.image-group {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
/* Media Queries para pantallas más pequeñas */
@media (max-width: 1400px) {
    .textsol {
        font-size: 28px;
        top: -250px;
        right: -40%;
    }
    
    .solimg {
        width: 80%;
        top: -170px;
        right: -55%;
    }
    
    .plantasol {
        width: 90px;
        top: -40px;
        right: 12%;
    }
    .plantasemisol{
        width: 90px;
        top: 150px;
        right: 10%;

    }
    .plantassinsol{
        width: 90px;
        top: 330px;
        right: -6%;

    }
    
    .textplantasol{
        font-size: 12.5px; /* Reduce el tamaño del texto */
        top: -70px; /* Ajusta la posición del texto */
        right: 10%; /* Ajusta la posición del texto */
    }
    .textplantasemi {
        font-size: 12.5px; /* Reduce el tamaño del texto */
        top: 115px; /* Ajusta la posición del texto */
        right: 6%; /* Ajusta la posición del texto */

    }
    .textplantasombra {
        font-size: 12.5px; /* Reduce el tamaño del texto */
        top: 300px; /* Ajusta la posición del texto */
        right: -5%; /* Ajusta la posición del texto */

    }
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1200px) {
    .textsol {
        font-size: 22px;
        top: 50px;
        right: 55%;
    }
    
    .solimg {
        width: 70%;
        top: 100px;
        right: 15%;
    }
    
    .plantasol {
        width: 80px;
        top: 150px;
        right: 2%;
    }
    .plantasemisol{
        width: 80px;
        top: 290px;
        right: 2%;

    }
    .plantassinsol{
        width: 80px;
        top: 420px;
        right: 18%;

    }
    
    .textplantasol{
        font-size: 10px; /* Reduce el tamaño del texto */
        top: 120px; /* Ajusta la posición del texto */
        right: 10%; /* Ajusta la posición del texto */
    }
    .textplantasemi {
        font-size: 10px; /* Reduce el tamaño del texto */
        top: 255px; /* Ajusta la posición del texto */
        right: 0%; /* Ajusta la posición del texto */

    }
    .textplantasombra {
        font-size: 10px; /* Reduce el tamaño del texto */
        top: 395px; /* Ajusta la posición del texto */
        right: 10%; /* Ajusta la posición del texto */

    }
}
/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .textsol {
        font-size: 15px; /* Reduce el tamaño del texto */
        top: 60px; /* Ajusta la posición del texto */
        right: 70%; /* Ajusta la posición del texto */
    }
    
    .solimg {
        width: 60%; /* Reduce el tamaño de la imagen */
        top: 100px; /* Ajusta la posición de la imagen */
        right: 30%; /* Ajusta la posición de la imagen */
    }
    
    .plantasol {
        width: 60px; /* Reduce el tamaño de la imagen */
        top: 150px; /* Ajusta la posición de la imagen */
        right: 100px;
    }
    
    .plantasemisol {
        width: 60px; /* Reduce el tamaño de la imagen */
        top: 250px; /* Ajusta la posición de la imagen */
        right: 100px;
    }
    
    .plantassinsol {
        width: 60px; /* Reduce el tamaño de la imagen */
        top: 340px; /* Ajusta la posición de la imagen */
        right: 140px;
    }
    
    .textplantasol {
        font-size: 10px; /* Reduce el tamaño del texto */
        top: 130px; /* Ajusta la posición del texto */
        right: 20%;
    }
    
    .textplantasemi {
        font-size: 10px; /* Reduce el tamaño del texto */
        top: 230px; /* Ajusta la posición del texto */
        right: 10%;
    }
    
    .textplantasombra {
        font-size: 10px; /* Reduce el tamaño del texto */
        top: 320px; /* Ajusta la posición del texto */
        right: 20%;
    }
}

/* Media Queries para pantallas muy pequeñas (teléfonos) */
@media (max-width: 480px) {
    .textsol {
        font-size: 15px; /* Reduce el tamaño del texto aún más */
        top: 60px; /* Ajusta la posición del texto */
        right: 55%;
    }
    .solimg {
        width: 70%;
        top: -180px;
        right: -10%;
    }
    
    .plantasol, .plantasemisol, .plantassinsol {
        width: 60%;
        max-width: 70px;
    }
    
    .textplantasol, .textplantasemi, .textplantasombra {
        font-size: 10px;
    }
}