@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.vibrar {
    animation: vibrar 0.8s linear infinite;
}

@keyframes agrandar {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(2); }
}

.agrandar {
    animation: agrandar 0.5s ease-in-out infinite;
}
