@keyframes vibrar {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.vibrar {
    animation: vibrar 1s linear;
}

@keyframes agrandar {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(2); }
}

.agrandar {
    animation: agrandar 0.5s ease-in-out;
}

.cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-icon {
    height: 40px;
    width: 40px;
}

.cart-count {
    position: absolute;
    top: 5px; /* Ajusta esta propiedad según sea necesario */
    right: 85px; /* Cambia esta propiedad para mover el contador hacia la izquierda */
    background-color: #822B2B; /* Cambia el color si es necesario */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

