#navinicio{
    background-color: rgba(216, 159, 18, 0.75)!important; /* Color con opacidad */
}
/*estilos para parfe de abajo de la hoja*/
/* Estilo para el contenedor del footer */
.footer {
    width: 100%;
    background-color: rgba(67, 148, 99, 0.50); /* Cambia el color de fondo según tu preferencia */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle profundidad */
    margin-top: 400px;
}

/* Estilo para el contenido del footer */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo para el logo del footer */
#footerlogo {
    max-width: 140px; /* Ajusta el tamaño máximo del logo */
    height: auto;
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

/* Estilo para el texto del footer */
.footer-text {
    font-size: 14px;
    color: #333; /* Cambia el color del texto según tu preferencia */
    margin: 0;
}

.bg-custom {
    background-color: rgba(45, 104, 127, 0.8); /* Color morado suave */
    color: white; /* Color de texto blanco para buen contraste */
}

.phone-text {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.email-text {
    font-size: 1rem;
    margin-bottom: 0;
}

.whatsapp-icon {
    width: 28px;
    height: 28px;
}

.p-3 {
    padding: 1rem; /* Ajuste del padding interno */
}

.text-white {
    color: white;
}

.rounded {
    border-radius: 0.25rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

